__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
Thumbs.db
audio/real_recordings/*.wav
audio/real_recordings/*.mp3
audio/reconstructed/beats/*.wav
audio/reconstructed/pgsd/*.wav
audio/reconstructed/fft/*.wav
audio/reconstructed/sinusoidal/*.wav
audio/reconstructed/nmf/*.wav
outputs/
*.egg-info/
.env
venv/
